// @use "../mixin.scss";

.fieldset {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border: none;
}

.fieldset__legend {
  font-size: 24px;
  line-height: 26px;
}

.input-label {
  display: flex;
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.input-text {
  color: var(--additional-text-color);
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button {
  @include common-button;
  color: var(--secondary-text-color);
  background-color: var(--secondary-background-color);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.form__footnote {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 16px;
}
