.form {
  padding: 37px 20px 32px 32px;
}

.form__title {
  margin: 0;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.form__button {
  padding: 14px 44px;
  width: 100%;
}

.form__footnote {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 16px;
}
