.additional-card__title {
  margin: 0;
  color: var(--additional-text-color-2);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
}

.additional-card__content {
  color: var(--additional-text-color);
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 14px;
}

.additional-card__button {
  @include common-button;
  display: block;
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background-color: var(--secondary-background-color);
}
