.extra-card {
  padding: 13px 0 19px;
}

.extra-card__title {
  color: var(--additional-text-color-2);
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 13px;
}

.extra-card__features {
  font-family: var(--secondary-font);
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.extra-card__button {
  // margin: 0;
  // grid-column: auto;
  padding: 10px 20px;
  width: 100%;

  &:hover {
    background-color: var(--status-color);
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

@media screen and (min-width: 768px) {
  .extra-card {
    padding: 26px 38px 28px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    row-gap: 25px;
  }

  .extra-card__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .extra-card__features {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  .extra-card__button {
    grid-column: span 2;
  }
}

@media screen and (min-width: 1440px) {
  .extra-card {
    padding: 15px 0 17px;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    column-gap: 40px;
    align-items: center;
  }

  .extra-card__button {
    grid-column: auto;
  }
}
