@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* @mixin common-button {
  appearance: none;
  margin: 0;
  padding: 0;
  border: none;
  background-color: inherit;
  font-family: inherit;
  cursor: pointer;
}
 */

 @mixin common-link {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

@mixin common-image {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: contain;
}
