.programs {
  padding: 20px;
}

.programs__list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programs__item {
  background-color: var(--additional-background-color);
  padding: 24px 33px 18px 20px;
}

.programs__title {
  margin: 0;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
}

.programs__description {
  margin: 0;
  font-family: var(--secondary-font);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: var(--additional-text-color);
}

.programs__link {
  @include common-link;
  font-size: 14px;
  line-height: 16px;
  color: var(--primary-text-color);
  text-align: initial;
}
