// @use "../mixin.scss";

.site-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
}

.site-list__item {
  border-top: 1px solid #e6e6e6;
  width: 100%;
}

.site-list__link {
  padding: 22px 70px 24px;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media screen and (min-width: 768px) {
  .site-list {
    flex-direction: row;
    gap: 33px;
    border: 0;
    font-size: 18px;
    line-height: 24px;
  }

  .site-list__item {
    border: 0;
    width: auto;
  }

  .site-list__link {
    padding: 0;
    text-align: left;
  }

  .site-list__link--current {
    text-decoration: underline;
    text-decoration-color: var(--secondary-background-color);
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .site-list {
    font-size: 20px;
    line-height: normal;
  }

  .site-list--index {
    color: var(--secondary-text-color);

    .site-list__link--current {
      text-decoration-color: var(--secondary-text-color);
    }
  }
}
