.result-list {
  justify-content: space-between;
  gap: 15%;
}

.result__item {
  width: 44%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result__value {
  color: var(--primary-text-color);
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding: 16px 18px;
  outline: 1px solid var(--special-grey);
  width: 100%;
}

.result__description {
  margin: 0;
  color: var(--additional-text-color);
  font-family: var(--secondary-font);
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  width: 80px;
  margin-top: -0.5em;
}

.result__cost {
  margin: 0;
  color: var(--primary-text-color);
  font-family: var(--primary-font);
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .result-list {
    width: 52%;
  }

  .result__value {
    font-size: 30px;
    line-height: 37px;
  }

  .result__description {
    font-size: 14px;
    line-height: 14px;
    width: auto;
    margin-top: -0.5em;
    padding: 0 10px;
  }

  .result__cost {
    font-size: 20px;
    width: 180px;
    text-align: right;
  }
}

@media screen and (min-width: 1440px) {
  .result-list {
    width: 100%;
  }

  .result__cost {
    width: 100%;
    text-align: left;
  }
}
